$cell-bg: #bd8d4d;
$cell-bg-2: #9f7545;
$cell-reveled-bg: rgba(29, 143, 51, 0.15);
$cell-reveled-bg-2: rgba(29, 143, 51, 0.25);
$cell-has-mine-bg: rgba(211, 86, 83, 0.25);
$cell-has-mine-bg-2: rgba(211, 86, 83, 0.15);

.minesweeper {
  width: 100%;
  display: flex;
  background: #fff;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &__board {
    &-row {
      display: flex;
      flex-direction: row;
    }
  }

  &-cell {
    display: flex;
    flex-grow: 0;
    width: 35px;
    height: 35px;
    background: $cell-bg;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

    &--inverted-background,
    &:nth-child(2n) {
      background: $cell-bg-2;
    }

    &--inverted-background:nth-child(2n) {
      background: $cell-bg;
    }

    &:hover {
      opacity: .9;
    }

    &--with-flag {
      cursor: default;
    }

    &--reveled {
      cursor: default;
      background: $cell-reveled-bg;

      &:hover {
        opacity: 1;
      }
    }

    &--reveled.minesweeper-cell--inverted-background,
    &--reveled:nth-child(2n) {
      background: $cell-reveled-bg-2;
    }

    &--reveled.minesweeper-cell--inverted-background:nth-child(2n) {
      background: $cell-reveled-bg;
    }

    &--has-mine {
      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #d35653;
      }
    }

    &--has-mine.minesweeper-cell--reveled {
      background: $cell-has-mine-bg;
    }

    &--has-mine.minesweeper-cell--reveled.minesweeper-cell--inverted-background,
    &--has-mine.minesweeper-cell--reveled:nth-child(2n) {
      background: $cell-has-mine-bg-2;
    }

    &--has-mine.minesweeper-cell--reveled.minesweeper-cell--inverted-background:nth-child(2n) {
      background: $cell-has-mine-bg;
    }

    &--adjacent-mines-1 {
      color: #849c7d;
    }

    &--adjacent-mines-2 {
      color: #d3b37f;
    }

    &--adjacent-mines-3 {
      color: #d38d6a;
    }

    &--adjacent-mines-4 {
      color: #d35653;
    }

    &--adjacent-mines-5,
    &--adjacent-mines-7,
    &--adjacent-mines-6,
    &--adjacent-mines-8 {
      color: #d31413;
    }
  }

  &__game-status {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;

    &--in-progress {
      color: #d3ac37;
    }

    &--won {
      color: #40a830;
    }

    &--lost {
      color: #ae3033;
    }
  }

  .spin {
    position: absolute;
    top: 0;
    left: 0;
  }
}
